<div ng-cloak>
    <div ng-switch="vm.isAuthenticated()">
        <div ng-switch-when="true">
            <style>
                .form-group input[type="checkbox"] {
                    display: none;
                }

                .form-group input[type="checkbox"] + .btn-group > label span {
                    width: 20px;
                }

                .form-group input[type="checkbox"] + .btn-group > label span:first-child {
                    display: none;
                }
                .form-group input[type="checkbox"] + .btn-group > label span:last-child {
                    display: inline-block;
                }

                .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
                    display: inline-block;
                }
                .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
                    display: none;
                }

                .btn {
                    padding: 1px 5px;
                }

            </style>

            <div class="row" style="margin-bottom:1%; background-color: #7e7b6d; color: whitesmoke">
                <h2 style="padding-left: 2%;">Votre patient</h2>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-2">
                    <img src="content/images/jeanneDArc.jpg" class="img-responsive img-circle" width="200px"
                         height="200px"/>
                    <p style="text-align: center">Jeanne d'Arc, 67 ans</p>
                </div>
                <div class="col-md-offset-1 col-md-4">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <b>Antécédents :</b>
                            <ul id="lastInfoList"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <b>Prescriptions en court :</b>
                            <ul id="onGoingPrescriptionsList"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>Contacts :</b>
                    <div id="contactList"></div>
                </div>

            </div>

            <div class="row" style="margin-bottom:5%;background-color: #7e7b6d; color: whitesmoke">
                <h2 style="padding-left: 2%;">SmartEHR</h2>
            </div>

            <div class="row">
                <div class="col-md-3" style="padding-top: 5%">
                    <div id="categoriesListA" class="form-check">
                    </div>
                </div>
                <div class="col-md-3" style="padding-top: 5%">
                    <div id="categoriesListB" class="form-check">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="cloud" style="height: 200px; width:500px"></div>
                </div>
                <script src="bower_components/jqcloud2/dist/jqcloud.js"></script>

                <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.css">


                <script type="application/javascript">

                    function LightenDarkenColor(col, amt) {

                        var usePound = false;

                        if (col[0] == "#") {
                            col = col.slice(1);
                            usePound = true;
                        }

                        var num = parseInt(col,16);

                        var r = (num >> 16) + amt;

                        if (r > 255) r = 255;
                        else if  (r < 0) r = 0;

                        var b = ((num >> 8) & 0x00FF) + amt;

                        if (b > 255) b = 255;
                        else if  (b < 0) b = 0;

                        var g = (num & 0x0000FF) + amt;

                        if (g > 255) g = 255;
                        else if (g < 0) g = 0;

                        return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);

                    }

                    var lastInfoList = ["3 interventions chirurgicales", "Bilan opthalmo normal", "Coloscopie"];
                    var onGoingPrescriptionsList = ["Daonil (jusqu'au 31/12/2018)"];
                    var contactList = [{name: "Gégé Desboutons",mail : "gege.dermato@mss.sante.gov"}, {name: "Nono Rienachangé",mail : "nono.kine@mss.sante.gov"}];
                    var categoriesSet = new Set();
                    var categoriesColor = new Map();
                    var categoriesChecked = new Map();
                    var temporary_words;
                    var basic_words = [
                        {
                            text: "diabete",
                            weight: 19,
                            category: "Diabétologie",
                            color: "#6687E7",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "erysipele",
                            weight: 14,
                            category: "Maladies infectieuses",
                            color: "#ff3d15",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "hypoglycemie",
                            weight: 6,
                            category: "Diabétologie",
                            color: "#6687E7",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "lymphoedeme",
                            weight: 6,
                            category: "Cardio-vasculaire",
                            color: "#450515",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "hyperkeratose",
                            weight: 4,
                            category: "Dermatologie",
                            color: "#23ff08",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "obesite",
                            weight: 3,
                            category: "Cardio-vasculaire",
                            color: "#450515",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "retinopathie",
                            weight: 3,
                            category: "Diabétologie",
                            color: "#6687E7",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "anemie",
                            weight: 2,
                            category: "Hématologie",
                            color: "#FF9999",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "neuropathie diabetique",
                            weight: 2,
                            category: "Diabétologie",
                            color: "#6687E7",
                            link: "javascript:void(0)"
                        },
                        {
                            text: "retinopathie diabetique",
                            weight: 2,
                            category: "Diabétologie",
                            color: "#6687E7",
                            link: "javascript:void(0)"
                        }
                    ]

                    $("#lastInfoList").empty();
                    $.each(lastInfoList, function (index, value) {
                        $("#lastInfoList").append("<li>" + value + "</li>");
                    });

                    $("#onGoingPrescriptionsList").empty();
                    $.each(onGoingPrescriptionsList, function (index, value) {
                        $("#onGoingPrescriptionsList").append("<li>" + value + "</li>");
                    });

                    $("#contactList").empty();
                    $.each(contactList, function (index, value) {
                        $("#contactList").append("<p>Dr " + value.name + " <a href:'" + value.mail + "'>" + value.mail + "</a></p>");
                    });

                    $.each(basic_words, function (index, value) {
                        value.handlers = {
                            click: function () {
                                alert('You clicked the word !');
                            }
                        };

                        categoriesSet.add(value.category);
                        categoriesColor.set(value.category, value.color);
                        categoriesChecked.set(value.category, true);

                    });

                    console.log(categoriesSet);

                    function updateCloud() {
                        temporary_words = $.grep(basic_words, function (v) {
                            return categoriesChecked.get(v.category);
                        });

                        console.log(basic_words)
                        console.log(temporary_words)

                        $('#cloud').jQCloud('update', temporary_words);
                    }

                    var index = 0
                    temporary_set = new Set(categoriesSet);
                    if(temporary_set.size>5){

                    }

                    function addCheckBox(index,value,selector){
                        $(selector).append("<div class=\"[ form-group ]\">\n" +
                            "                        <input type=\"checkbox\" name=\"fancy-checkbox-primary\" id=\"fancy-checkbox-primary" + index +"\" autocomplete=\"off\" checked/>\n" +
                            "                        <div class=\"[ btn-group ]\">\n" +
                            "                            <label for=\"fancy-checkbox-primary" + index + "\"class=\"[ btn btn-primary ]\">\n" +
                            "                                <span class=\"[ glyphicon glyphicon-ok ]\"></span>\n" +
                            "                                <span> </span>\n" +
                            "                            </label>\n" +
                            "                            <label for=\"fancy-checkbox-primary\" class=\"[ btn btn-default active ]\">\n" +
                            "                                " + value +
                            "                            </label>\n" +
                            "                        </div>\n" +
                            "                    </div>");
                    }

                    function configureCheckBoxColor(value,selector){
                        selector.css("background-color",categoriesColor.get(value)).hover(
                            function(){
                                $(this).css('background-color',LightenDarkenColor(categoriesColor.get(value),-30));
                            },
                            function(){
                                $(this).css('background-color',categoriesColor.get(value));
                            });
                        selector.css("border-color",LightenDarkenColor(categoriesColor.get(value),-10));
                        selector.css("background-color",LightenDarkenColor(categoriesColor.get(value),-10));
                    }

                    $("#categoriesListB").empty()
                    temporary_set.forEach(function (value) {
                        if(index<3) {
                            addCheckBox(index,value,$("#categoriesListB"));
                            $("#fancy-checkbox-primary" + index).change(function () {
                                categoriesChecked.set(value, this.checked);
                                updateCloud();
                            });
                            configureCheckBoxColor(value,$("[for=\"fancy-checkbox-primary" + index + "\"]"));
                            temporary_set.delete(value);
                            index++;
                        }

                    });
                    $("#categoriesListA").empty()
                    temporary_set.forEach(function (value) {
                            addCheckBox(index,value,$("#categoriesListA"));
                            $("#fancy-checkbox-primary" + index).change(function () {
                                categoriesChecked.set(value, this.checked);
                                updateCloud();
                            });
                            configureCheckBoxColor(value,$("[for=\"fancy-checkbox-primary" + index + "\"]"));
                            temporary_set.delete(value);
                            index++;
                    });

                    $('#cloud').jQCloud(basic_words, {
                        delay: 50
                    });

                    for (wordIndex = 0; wordIndex < basic_words.length; wordIndex++) {
                        node = $('#cloud_word_' + wordIndex);
                        node.replaceWith("<a>wordIndex</a>");
                    }
                </script>

            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h2>Rechercher</h2>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" ng-model="vm.searchQuery" class="form-control input-lg" placeholder="diabete, endocrinologie, insuline, ..." />
                            <span class="input-group-btn">
		                        <button class="btn btn-info btn-lg" type="button" ng-click="vm.search(vm.searchQuery)">
		                            <i class="glyphicon glyphicon-search"></i>
		                        </button>
		                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="visualization"></div>
                    <link href="bower_components/vis/dist/vis.css" rel="stylesheet" type="text/css" />
                    <script src="bower_components/vis/dist/vis.js"></script>
                    <script type="application/javascript">
                        var container = document.getElementById('visualization');

                        // Create a DataSet (allows two way data-binding)
                        var groups = new vis.DataSet([
                            {id: 1, content:'Consultation endoc<br>', value: 1},
                            {id: 2, content:'consultation ophtalmo<br>', value: 2},
                            {id: 3, content:'Cardio<br>'},
                            {id: 4, content:'Médicaments<br>'}
                        ]);

                        var items = new vis.DataSet();

                        items.add({
                            id: 1,
                            group: 2,
                            content: '<img src="../../content/images/BilanOphtalmo.png">',
                            start: '2016-04-20',
                            type: 'box'
                        });

                        items.add({
                            id: 3,
                            group: 1,
                            content: '<img src="../../content/images/BilanEndocrinologique.png">' ,
                            start: '2017-04-20',
                            end: '2016-04-25',
                            type: 'box'
                        });

                        items.add({
                            id: 4,
                            group: 3,
                            content: '<img src="../../content/images/BilanHba1c.png">' ,
                            start: '2017-05-20',
                            type: 'box'
                        });

                        items.add({
                            id: 2,
                            group: 2,
                            content: '<img src="../../content/images/BilanOphtalmo.png">' ,
                            start: new Date (2016,3,20),
                            end: new Date (2018,7,20),
                            type: 'box'
                        });

                        items.add({
                            id: 5,
                            group: 4,
                            content: '<img src="../../content/images/Medoc.png">' ,
                            start: new Date (2016,4,20),
                            end: new Date (2018,7,20),
                            type: 'box'
                        });

                        // Configuration for the Timeline
                        //        var options = {};
                        var options = {
                            groupOrder: function (a, b) {
                                return a.value - b.value;
                            },
                        };

                        // Create a Timeline
                        //        var timeline = new vis.Timeline(container, groups, items, options);
                        var timeline = new vis.Timeline(container);
                        timeline.setOptions(options);
                        timeline.setGroups(groups);
                        timeline.setItems(items);

                        //        timeline.on('select', function (properties) {
                        ////        	  alert('selected items: ' + JSON.stringify(properties));
                        //        	alert('selected items: ' + properties.items);
                        //        	$('#myModal').fadeIn();
                        //        	});

                        timeline.on('select', function (properties) {
                            logEvent('select', properties);
                        });

                        items.on('*', function (event, properties) {
                            logEvent(event, properties);
                        });

                        function logEvent(event, properties) {
                            var log = document.getElementById('log');
                            var msg = document.createElement('div');
//            $('#myModal').fadeIn();
                            console.log( 'event=' + JSON.stringify(event) + ', ' +
                                'properties=' + JSON.stringify(properties))
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
